.remove-btn {
  margin-right: 0.5rem;
}

.bullet {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.shop {
  background-image: url('https://image.freepik.com/free-photo/black-friday-concept-with-cart-space_23-2147709970.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
